<div class="row page-menu">
    <div class="col-md-12 col-lg-12">
      <span id="menu">
        Menu
        <span *ngIf="currentUser.restaurant !== null">(</span>
        <span *ngIf="currentUser.restaurant !== null">{{ currentUser.restaurant.name }}</span>
        <span *ngIf="myMenu !== null"> / </span>
        <span *ngIf="myMenu !== null">{{ myMenu.name }}</span>
        <span *ngIf="currentUser.restaurant !== null">)</span>
      </span>
    </div><br><br><br>
</div>

<div class="row">
  <div class="col-6 col-md-6 col-lg-3">
    <nb-card>
      <nb-card-header>
        Category
      </nb-card-header>
      <nb-card-body class="row-height">
        <div class="category-menu">
            <custom-menu 
              [items]="mnu_category" 
              (onSelect)="onItemSelection($event)" 
              (onEdit)="onEdit($event)" 
              (onDelete)="onDelete($event)">
            </custom-menu>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button *ngIf="myMenu === null" class="btn btn-outline-primary btn-semi-round btn-block" (click)="addMenu()">Add Menu</button>
          <button *ngIf="myMenu !== null" class="btn btn-outline-primary btn-semi-round btn-block" (click)="addCategory()">Add Category</button>
        </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-6 col-md-6 col-lg-3" *ngIf="category_id>0">
    <nb-card>
      <nb-card-header>
        Item
      </nb-card-header>
      <nb-card-body class="row-height">
        <div class="item-menu">
            <custom-menu 
              [items]="mnu_item" 
              [edit_enabled]="false"
              (onSelect)="onItemSelection($event)" 
              (onEdit)="onEdit($event)" 
              (onDelete)="onDelete($event)">
            </custom-menu>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button class="btn btn-outline-primary btn-semi-round btn-block" (click)="addItem()">Add Item</button>
        </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-12 col-md-12 col-lg-6" *ngIf="item_id>0 && category_id>0">
    <nb-card>
      <nb-card-header>
        Item Detail
      </nb-card-header>
      <nb-card-body class="row-height">
        <div class="item-detail">
            <form [formGroup]="itemDetailForm" (ngSubmit)="submitChange()" enctype="multipart/form-data">
              <!-- Item Name -->
              <div class="form-group">
                <input type="text" formControlName="itemName" class="form-control" [ngClass]="{'form-control-danger': itemDetailForm.controls.itemName.invalid && (itemDetailForm.controls.itemName.dirty || itemDetailForm.controls.itemName.touched)}" id="exampleInputEmail1" placeholder="Item name">
              </div>
              <!-- Description -->
              <div class="form-group">
                <textarea rows="8" formControlName="itemDescription" placeholder="Description ingredients, preparation style, etc" id="inputDescription" class="form-control"
                [ngClass]="{'form-control-danger': itemDetailForm.controls.itemDescription.invalid && (itemDetailForm.controls.itemDescription.dirty || itemDetailForm.controls.itemDescription.touched)}"></textarea>
              </div>
        
              <div class="row">
                <!-- Price -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputPrice">Price ($)</label>
                    <input type="number" formControlName="itemPrice" class="form-control" [ngClass]="{'form-control-danger': itemDetailForm.controls.itemPrice.invalid && (itemDetailForm.controls.itemPrice.dirty || itemDetailForm.controls.itemPrice.touched)}" id="inputPrice" placeholder="0.00">
                  </div>
                </div>
                <!-- Tax -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputTax">Tax (%)</label>
                    <input type="number" formControlName="itemTax" class="form-control" [ngClass]="{'form-control-danger': itemDetailForm.controls.itemTax.invalid && (itemDetailForm.controls.itemTax.dirty || itemDetailForm.controls.itemTax.touched)}" id="inputTax" placeholder="0.00">
                  </div>
                </div>
                <!-- Thumbnail Image -->
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="thumbnail">Thumbnail</label>
                      <i *ngIf="imageUploaded" class="fa fa-check-circle" style="margin-left: 20px;"></i>
                      <!-- <label *ngIf="!imageUploaded && !imageUploadFailed" style="margin-left: 20px;">Uploading ({{ uploadPercent }}%)</label> -->
                      <label *ngIf="imageUploadFailed" style="margin-left: 20px;color:red;">Upload failed!</label>
                      <input type="file" formControlName="thumbnail" class="form-control" id="thumbnail" placeholder="Thumbnail" accept="image/*" (change)="onChange($event)">
                    </div>
                </div>
              </div>
            </form>
        </div>
        <!-- Submit Change Button -->
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success btn-semi-round btn-block" [ngClass]="{'disabled' : !imageUploaded}" (click)="submitChanges()">Submit Changes</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

  