.page-menu #menu {
    font-size: 30px;
    border-bottom: 3px solid;
}

.page-menu .pending {
    float: right;
}

.row-height {
    overflow: none;
    height: 500px;
}

.page-menu .category-menu, .page-menu .item-menu, .page-menu .item-detail {
    overflow-y: scroll;
    height: calc(100% - 65px);
}
.page-menu .item-detail {
    padding-right: 15px;
}

.page-menu .bottom {
    height: 10%;
}

.page-menu .bottom button {
    margin-top: 20px;
    margin-left: 10px;    
    width: calc(100% - 20px);
    height: 45px;
}

.page-menu .menu-item {
    cursor: pointer;
}