<div class="modal-header">
    <span>Add Category</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
    <div class="modal-body">
      <div class="form-group">
        <input type="text" formControlName="newCategoryName" class="form-control" [ngClass]="{'form-control-danger': addCategoryForm.controls.newCategoryName.invalid && (addCategoryForm.controls.newCategoryName.dirty || addCategoryForm.controls.newCategoryName.touched)}" placeholder="New category name">
      </div>
      <!-- Thumbnail Image -->
      <div class="form-group">
        <label for="thumbnail">Thumbnail</label>
        <i *ngIf="imageUploaded" class="fa fa-check-circle" style="margin-left: 20px;"></i>
        <!-- <label *ngIf="tempThumbnail && !imageUploaded && !imageUploadFailed" style="margin-left: 20px;">Uploading ({{ uploadPercent }}%)</label> -->
        <label *ngIf="imageUploadFailed" style="margin-left: 20px;color:red;">Upload failed!</label>
        <input type="file" formControlName="thumbnail" class="form-control" id="thumbnail" placeholder="Thumbnail" (change)="onChange($event)">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-success">Add</button>
      <button class="btn btn-md btn-danger" (click)="closeModal()">Cancel</button>
    </div>
  </form>
