.custom-menu-layout {
    padding: 10px;
    width: 100%;

    .thumbnail {
        width: 85%;
        height: 100%;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .custom-menu-item {
        box-sizing: border-box;
        border-radius: 0.25rem;
        width: 100%;
        opacity: 0.8;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            font-weight: bold;
            opacity: 1;
        }

        &.active
        {
            border: 1px solid;
            font-weight: bold;
        }

        .icon {
            width: 2.5rem;
            font-size: 2.5rem;
            display: flex;
        }

        .action {
            display: flex;
            margin-left: auto;
    
            .icon {
                width: 1.5rem;
                font-size: 1.5rem;
                display: flex;

                // animation-play-state: paused;
                
                :hover {
                    // animation-play-state: running;
                    animation: scaling 0.3s ease-in-out;
                    -webkit-animation: scaling 0.3s ease-in-out;
                }
                :active {
                    opacity: 0.8;
                }
            }

            @keyframes scaling {
                0% {
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }       
                40% {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                }
                70% {
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                }
                100% {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                }
            }
        }
    }    
}