<div class="modal-header">
  <span>Add Menu</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addMenuForm" (ngSubmit)="addMenu()">
  <div class="modal-body">
    <div class="form-group">
      <input type="text" formControlName="newMenuName" class="form-control" [ngClass]="{'form-control-danger': addMenuForm.controls.newMenuName.invalid && (addMenuForm.controls.newMenuName.dirty || addMenuForm.controls.newMenuName.touched)}" placeholder="New menu name">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-md btn-success">Add</button>
    <button class="btn btn-md btn-danger" (click)="closeModal()">Cancel</button>
  </div>
</form>