.page-dashboard #sales {
    font-size: 30px;
    border-bottom: 3px solid;
}

.page-dashboard .tab-item {
    float: right;
    cursor: pointer;
    margin-left: 20px;
}

.page-dashboard .active {
    color: green;
}

.page-dashboard .price {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0%, -50%); 
    transform: translate(0%, -50%); 
    padding-left: 10px;
}

.top-selling-item {
    margin-left: 5px;
}

.top-selling-item div {
    margin-bottom: 10px;
}

.page-dashboard nb-card-body {
    overflow: none;
}